@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.productimage {
  float: left;
  width: 100%; /* Make the productimage div take 100% width */
  height: 280px;
  padding: 30px;
}

.productimage img {
  width: 100%; /* Make the image take 100% width */
}

.other {
  float: left;
  width: 100%; /* Make the other div take 100% width */
  height: auto; /* Adjust height as needed */
  padding: 30px;
  box-sizing: border-box; /* Include padding in the width calculation */
}


.productimage{
  float:left; 
  width:50%;
  height:280px;
  padding:30px;
}
.productimage img{
  width:500px;
}

.other{
  float:right;
  width:50%;
  height:280px;
  padding:30px;
}

#one, #two, #three,#four, #five{
  float:left;
  width:20%;
  padding:20px;
}
#final img{
  width:20px;
  float:right;
  margin-right: 40px;
  margin-left: 20px;
}

#final h4{
  font-size:100%;
}

#final button{
  float:right;
  padding:10px;
}
.info{
  border:3px solid black;
  padding: 30px;
}

.comments{
  margin-top:100px;
  border:3px solid black;
  padding: 30px;
}

.comments p{
  border:2px solid #E4BB97;
  padding: 15px;
}


@media screen and (min-width: 769px) {
  /* For screens wider than 768px, revert to original layout */
  .productimage,
  .other {
    float: left;
    width: 50%;
  }
}
