@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');
*{font-family: 'Montserrat', sans-serif;}

body{
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.bg-myColor {
    background-color: blue;
  }

@media screen and (max-width: 768px){
    .bg-myColor {
        background-color: #FEF5EF;
        }

}

@media screen and (min-width: 769px){
    /* NAV BAR */
        
    .bg-myColor {
        background-color: blue;
        }
}